/* Style the banner */
.banner {
  display: flex;
  /* align-items: center; */
  justify-content: left;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  color: white;
}

/* Style the black banner */
.banner-black {
  background-color: black;
  align-items: center;
}

/* Style the red banner */
.banner-red {
  background-color: #A21A1A;
  align-items: center;
}

.arxiv-logo {
  display: flex;
  align-items: center;
}

/* Style the logo */
.logo {
  height: 30px;
  margin-right: 10px;
  margin-left: 0px;
}

.logo-text {
  font-size: 20px;
  margin-left: 10px;
}

.content {
  display: flex;
  min-height: 100vh;
  margin-left: 0px;
}

nav {
  width: 300px;
  background-color: #f2f2f2;
  flex-shrink: 0;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

nav a {
  display: block;
  padding: 12px;
  width: 300px;
  height: max-content;
  color: #333;
  text-decoration: none;
}

.sublist a.active {
  text-decoration: underline;
}

nav li.category a.category-toggle.active,
nav li.category ol.category-links li a.active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  font-weight:bold;
  list-style:none;
}

nav li.category a.category-toggle.active {
  font-weight: bold;
}

nav li.category ol.category-links li a.active {
  border-left: 3px solid rgb(162, 22, 22);
}

ol {
  list-style:none;
}

.category-links {
  display: none;
  margin-left: 30px;
}

.category-links li a {
  color: #333;
}

.category-toggle {
  cursor: pointer;
}

.category-toggle::before {
  content: "+";
  display: inline-block;
  margin-right: 5px;
}

.category-toggle.active::before {
  content: "-";
}

.category-links.active {
  display: block;
}

li a.active {
  color: rgb(162, 22, 22);
}

nav a.active {
  color: rgb(162, 22, 22);
  text-decoration: underline;
}

.main-content {
  margin-left: 10px;
  flex-grow: 1;
}

body {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  line-height: 26px;
}

.content {
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 0px;
}

.report-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}

.report-box {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.text-report {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.take-screenshot {
  margin-top: 10px;
}

.highlight {
  background-color: yellow;
}

footer {
  position: fixed;
  /*background-color: #f2f2f2;*/
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

a.btn.btn-primary.back-button {
  color: rgb(0, 0, 0);
  background-color: white;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

a.btn.btn-primary.back-button:hover {
  background-color: #c9c9c9;
  color: rgb(0, 0, 0);
}

a.btn.btn-primary.next-button {
  background-color: #ADE1B0;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

a.btn.btn-primary.next-button.disabled{
  background-color: #879188;
  border: 2px solid rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

a.btn.btn-primary.next-button:hover {
  background-color: #57a060;
  color: white;
}


.breadcrumb {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.breadcrumb ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.breadcrumb ul li {
  margin-right: 5px;
}

.breadcrumb ul li:not(:last-child)::after {
  content: "/";
  margin-left: 5px;
}

.breadcrumb ul li a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb ul li a:hover {
  text-decoration: underline;
}

.breadcrumb ul li.current-page {
  color: #000;
  text-decoration: none;
  pointer-events: none;
}

form label {
  display: block;
  margin-bottom: 10px;
}

#page1_header {
  margin-bottom: 20px;
}

#page1_input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#input_title {
  width: 400px;
}

#contact-info ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#contact-info li strong {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
  text-decoration: underline;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.arrow {
  margin-left: 10px;
}

.privacy {
  margin-top: 20px;
}

.privacy .arrow {
  cursor: pointer;
  /* display: flex; */
  /* align-items: center; */
}

.privacy .arrow i {
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.privacy .policy {
  display: none;
  margin-top: 10px;
}

.privacy.open .arrow i {
  transform: rotate(180deg);
}

.privacy.open .policy {
  display: block;
}

.policy-box {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 100px;
  height: 240px;
  overflow-y: scroll;
}

.check-arrow {
  display: flex;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* page 6 */
.process-div {
  min-width: 200px;
  max-width: 75%;
  background-color: #eeeeee;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 2px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.process-wrap {
  display: flex;
  align-items: left;
  flex-direction: column;
}

.process-element {
  padding: 16px;
  margin-left:0px;
  margin-bottom: 16px;
  width: calc(0.8 * 100vw);
  min-width: 200px;
  max-width: 75%;
}

#process-severe {
  border: 2px solid red;
}

#process-important {
  border: 2px solid orange;
}

#process-general {
  border: 2px solid yellow;
}

#process-unimportant {
  border: 2px solid grey;
}

#processed {
  border: 2px solid black;
  width: 80%;
}

.highlight {
  background-color: yellow;
}

#full-log {
  background-color: #A21A1A;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
}

/* page 8 */
.secondary {
  background-color: #424bb2;
  color: #ffffff;
  font-size: medium;
  padding: 24px 8px;
  width: 160px;
  height: 64px;
  margin: 4vh auto;
  border: none;
  border-radius: 4px;
}

.h1-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

/* page 9 */
.container {
  max-width: 100%;
  display: flex;
}

.metadata {
  display: block;
  width: calc(2 / 3 * 100vw);
  height: 6vh;
  min-width: 200px;
  max-width: 100%;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 2vh;
  padding: 0 1vw;
}

input#abstract {
  display: block;
  height: 12vh;
}

/* input,
label {
  display: block;
} */

/* page 10 */
.select-category-item {
  margin: 20px 0;
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.select-label {
  margin-right: 16px;
}

.selector {
  padding: 12px 4px;
  padding-right: 40px;
  border-color: #d1d1d1;
  border-radius: 4px;
  border-width: 2px;
  font-size: 16px;
}

.categories {
  margin-top: 32px;
  max-width: 98%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.accordion-active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* page 11 */
#preview {
  background-color: #a21a19;
  color: #ffffff;
  position: absolute;
  bottom: 90%;
  width: auto;
  padding-left:16px;
  padding-right:16px;
  padding-bottom: 8px;
  padding-top:8px;
}

/* page 12 */
.checkmark-list {
  list-style-type: none;
  padding-left: 0;
}

.checkmark-list li {
  position: relative;
  padding: 1vh 1vw;
}

.checkmark-list li::before {
  content: "✔";
  position: absolute;
  left: 0;
  top: 2;
}

.chip {
  display: inline-flex;
  align-items: center;
  background-color: #A21A1A;
  color: #ffffff;
  border-radius: 25px;
  padding: 4px 8px;
  font-size: 12px;
  margin-left: 8px;
}

.checkmark-list a {
  padding-left: 8px;
}

.html-preview {
  width: 90%;
  min-width: 200px;
  /* max-width: 100%; */
  background-color: #eeeeee;
  padding: 24px;
  margin-top: 24px;
  position: relative;
}

h3 {
  line-height: 0%;
}

.supporting {
  font-size:70%;
  color:rgb(65, 65, 65);
}