/* Style the banner */
.banner {
  display: flex;
  /* align-items: center; */
  justify-content: left;
  font-size: 18px;
  font-weight: bold;
  height: 50px;
  color: white;
}

/* Style the black banner */
.banner-black {
  background-color: black;
  align-items: center;
}

/* Style the red banner */
.banner-red {
  background-color: #b31b1b;
  align-items: center;
}

.arxiv-logo {
  display: flex;
  align-items: center;
}

/* Style the logo */
.logo {
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}

.logo-text{
  font-size: 20px;
  margin-left: 10px; 
}

.navbar {
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.navbar a.active {
  color: #ff8c00;
  border-bottom: 2px solid #ff8c00;
}

body {
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  margin-top:0px;
}

.content{
  margin-left: 30px;
  margin-right: 0px;
  margin-top:0px;
}

.report-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
}

.report-box {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  display: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.text-report {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.take-screenshot {
  margin-top: 10px;
}

.highlight {
  background-color: yellow;
}

footer {
  position: fixed;
  background-color: #f2f2f2;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.back-button {
  color: gray;
  background-color: white;
  border: 2px solid gray;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.next-button {
  color: white;
  background-color: #D58B25;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.breadcrumb {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.breadcrumb ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.breadcrumb ul li {
  margin-right: 5px;
}

.breadcrumb ul li:not(:last-child)::after {
  content: "/";
  margin-left: 5px;
}

.breadcrumb ul li a {
  text-decoration: none;
  color: #007bff;
}

.breadcrumb ul li a:hover {
  text-decoration: underline;
}

.breadcrumb ul li.current-page {
  color: #000;
  text-decoration: none;
  pointer-events: none;
}

form label {
  display: block;
  margin-bottom: 10px;
}

#page1_header {
  margin-bottom: 20px;
}

#page1_input {
  margin-top: 20px;
  margin-bottom: 20px;
}

#input_title {
  width: 400px;
}