<!doctype html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/arXivCat.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" />
    <style>
  
    </style>
    <script>
      function getActiveCategory() {
        const pageTitle = "{{ page_title }}";
        switch (pageTitle) {
          case "start":
          case "contactInformation":
          case "termsConditions":
          case "licensing":
            return 0;
          case "addFiles":
          case "processing":
          case "pdfPreview":
          case "htmlPreview":
            return 1;
          case "metadata":
          case "category":
          case "review":
            return 2;
          case "finalizeSubmission":
            return 3;
          defaolt:
            return -1;
        }
      }
    </script>

    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/selectCombo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/submitSubjClass.js') }}"></script>
    <script src="{{ url_for('static', filename='js/js.cookie.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/toggle-guide.js') }}"></script>
    <script src="{{ url_for('static', filename='js/terms_conditions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/example.js') }}"></script>
  </head>

<body>
  <header>
    <div id="cu-identity">
      <div id="cu-logo">
        <a href="https://www.cornell.edu/"><img src="//static.arxiv.org/icons/cu/cornell-reduced-white-SMALL.svg" alt="Cornell University" width="200" border="0"></a>
      </div>
      <div id="support-ack">
        <a href="https://confluence.cornell.edu/x/ALlRF">We gratefully acknowledge support from<br> the Simons Foundation and member institutions.</a>
      </div>
    </div>

    <div id="header" >
      <h1 class="arxiv-logo">
        <a href="/">
        <img class='logo' src="https://static.arxiv.org/static/browse/0.3.4/images/arxiv-logo-one-color-white.svg" aria-label="logo" alt="arxiv logo" width="85" style="width:85px;"></a> &gt; submit </h1>
        <div class="header_nav">Logged in as <b>fake</b> |
          <a href="/help">Help</a> |
          <a href="/user">My Account</a> |        <a href="/logout">Logout</a>
        </div>
      </h1>
    </div>
  </header>
  
  
  <main class="content" style="margin-left: 0px;">
    <nav>
      <ol>
        <li class="category"><a id="start-link" class="category-toggle" href="#">Start</a>
          <ol class="category-links">
            <li><a id="start-sublink" href="{{ url_for('start') }}" class="sublist">Start</a></li>
            <li><a id="contact-link" href="{{ url_for('contactInformation') }}">Contact Information</a></li>
            <li><a id="terms-link" href="{{ url_for('termsConditions') }}">Terms and Conditions</a></li>
            <li><a id="licensing-link" href="{{ url_for('licensing') }}">Licensing</a></li>
          </ol>
        </li>
        <li class="category"><a id="files-link" class="category-toggle" href="#">Files</a>
          <ol class="category-links">
            <li><a id="add-files-link" href="{{ url_for('addFiles') }}">Add Files</a></li>
            <li><a id="processing-link" href="{{ url_for('processing') }}">Processing</a> </li>
            <li><a id="pdf-preview-link" href="{{ url_for('pdfPreview') }}">PDF Preview</a></li>
            <li><a id="html-preview-link" href="{{ url_for('htmlPreview') }}">HTML Preview</a></li>
          </ol>
        </li>
        <li class="category"><a id="metadata-link" class="category-toggle" href="#">Metadata</a>
          <ol class="category-links">
            <li><a id="input-data-link" href="{{ url_for('metadata') }}">Input Data</a></li>
            <li><a id="category-link" href="{{ url_for('category') }}">Category</a> </li>
            <li><a id="review-link" href="{{ url_for('review') }}">Metadata Review</a></li>
          </ol>
        </li>
        <li class="category"><a id="finalize-link" class="category-toggle" href="#">Finalize Submission</a>
          <ol class="category-links">
            <li><a id="finalize-submission-link" href="{{ url_for('finalizeSubmission') }}">Finalize Submission</a></li>
          </ol>
        </li>
        <!-- <li class="category"><a id="finalize-link" class="category-toggle" href="{{ url_for('finalizeSubmission') }}">Finalize Submission</a>
        </li> -->
      </ol>
    </nav>    
    <div class="main-content">   
      {% block content %}{% endblock %}
    </div>
  </section>

  <footer>
      <div class="button-container">
        {% if prev_page %}
          <a href="{{url_for(prev_page)}}" class="back-button">Back</a>
        {% else %}
          <a class="back-button">Cancel</a>
        {% endif %}
        {% if next_page %}
          <a href="{{url_for(next_page)}}" class="next-button">Continue</a>
        {% else %}
          <a href="" class="next-button">Submit</a>
        {% endif %}
      </div>
  </footer>
  
  <script >

    document.addEventListener('DOMContentLoaded', function () {
      const categories = document.querySelectorAll('.category-toggle');
      const links = document.querySelectorAll('.left-sidebar a');
      const activeCategoryIndex = getActiveCategory();
    
      // Function to close all categories
    
      // Open the category containing the active link
      if (activeCategoryIndex >= 0) {
        categories[activeCategoryIndex].classList.add('active');
        categories[activeCategoryIndex].nextElementSibling.classList.add('active');
      }
    
      categories.forEach((category) => {
        category.addEventListener('click', function () {
          this.classList.toggle('active');
          this.nextElementSibling.classList.toggle('active');
          closeAllCategories(this);
        });
      });
    
      links.forEach((link) => {
        link.addEventListener('click', function () {
          links.forEach((otherLink) => otherLink.classList.remove('active'));
          this.classList.add('active');
    
          const currentCategory = this.closest('.category');
          closeAllCategories(currentCategory.querySelector('.category-toggle'));
    
          currentCategory.querySelector('.category-toggle').classList.add('active');
          currentCategory.querySelector('.category-links').classList.add('active');
        });
      });
    });

    let links = document.querySelectorAll('.category-links li a');
    links.forEach(link => {
      if (link.href === window.location.href) {
      link.classList.add('active');
    }
    });

    
    
  </script>
  </body>
</html>