{% extends 'base.html' %} {% block content %}
<html lang="en">
<div class="h1-container">
  <h1>PDF Preview</h1>
</div>

<p>
  We have successfully generated a PDF version of your paper. Please take the
  time to review it and revise your original documents if there's any concerns.
</p>
<p>You can <a href=""><u>click here</u></a> to download the current PDF submission.</p>
<br />
<br />
<button class="secondary" type="button">Preview PDF</button>

<form>
  <label>
    <input type="checkbox" name="preview-check">
    I certified I previewed my paper *
  </label>
  </form>

</html>

{% endblock %}
