{% extends 'base.html' %} {% block content %}
<html lang="en">
<h1>Submission Processing</h1>
<p>
  Please review the processing errors. You can visit the
  <a href="#"><u>arXiv help page</u></a> if needed.
</p>

<div class="process-div">
  <div>
    <h2>Submission Status: <span class="highlight">success</span></h2>
  </div>
  <div>
    <button id="full-log" type="button">Explore full log</button>
  </div>
</div>

<div class="process-wrap">
  <div class="process-element" id="process-severe">
    <h3>Severe Processing errors/warnings:</h3>
    <ol>
      <li>item 1</li>
      <li>item 2</li>
    </ol>
  </div>
  <div class="process-element" id="process-important">
    <h3>Important Processing errors/warnings:</h3>
    <ol>
      <li>item 1</li>
      <li>item 2</li>
    </ol>
  </div>
  <div class="process-element" id="process-general">
    <h3>General Processing errors/warnings:</h3>
    <ol>
      <li>item 1</li>
      <li>item 2</li>
    </ol>
  </div>
  <div class="process-element" id="process-unimportant">
    <h3>Unimportant Processing errors/warnings:</h3>
    <ol>
      <li>item 1</li>
      <li>item 2</li>
    </ol>
  </div>
</div>

<div class="process-element" id="processed">
  <h3>List of processed elements</h3>
  <ol>
    <li>item 1</li>
    <li>item 2</li>
  </ol>
</div>
</html>
{% endblock %}
