<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <nav class="breadcrumb">
      <ul>
        <li><a href="{{ url_for('page1') }}">{{ page_titles['page1'] }}</a></li>
        <li class="current-page">{{ page_title }}</li>
      </ul>
    </nav>
    <nav class="left-sidebar">
      <ul class="page-categories">
        <li>
          <a href="#">Category 1</a>
          <ul class="page-names">
            <li><a>{{ page_title }}</a></li>
          </ul>
        </li>
        <li>
          <a href="#">{{ categories_names['category2'] }}</a>
          <ul class="page-names">
            <li><a href="#">Page 2.1</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <div class="content">
      <p>2</p>
      <p>Test, Test, Test. Test, Test, Test. Test, Test, Test.</p>
      <p>Test, Test, Test. Test, Test, Test. Test, Test, Test.</p>
      <p>Test, Test, Test. Test, Test, Test. Test, Test, Test.</p>
      <p>Test, Test, Test. Test, Test, Test. Test, Test, Test.</p>
      <p>Test, Test, Test. Test, Test, Test. Test, Test, Test.</p>
      <p>Test, Test, Test. Test, Test, Test. Test, Test, Test.</p>
    </div>
    <footer>
      <ul>
        <a href="{{ url_for('page3') }}">Next Page</a>
      </ul>
    </footer>
  </body>
</html>
