{% extends 'base.html' %}

{% block content %}
<div id='page3_header'>
    <h1>Please Review our Terms and Conditions</h1>
</div>

<form>
    <p>Read and agree to the full <a href="https://arxiv.org/help/policies/instructions_for_submission">Instructions for Submission</a> (opens in a new tab) before proceeding * 
    </p>
    <label>
        <input type="checkbox" name="color">
        I have read and agree to the terms and conditions
    </label>
    <div class="check-arrow">
        <p>Read and accept the <a href="#privacy" class="terms-link">Submission Terms and Agreement</a> (opens a new window) before proceeding * 
        </p>
        <div class="arrow">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
    <div class="privacy">
        <div class="policy-box">
          <h2>Submission Terms and Agreement</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tincidunt quam. Proin auctor nulla sed turpis feugiat, id congue quam tincidunt. Sed sit amet justo sit amet urna ullamcorper fringilla. Sed pulvinar mi quis eros 
              suscipit, sed efficitur velit accumsan. Fusce non risus non leo pretium vulputate eget vel ipsum. Etiam efficitur odio sit amet faucibus semper. Suspendisse potenti.</p>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tincidunt quam. Proin auctor nulla sed turpis feugiat, id congue quam tincidunt. Sed sit amet justo sit amet urna ullamcorper fringilla. Sed pulvinar mi quis eros 
              suscipit, sed efficitur velit accumsan. Fusce non risus non leo pretium vulputate eget vel ipsum. Etiam efficitur odio sit amet faucibus semper. Suspendisse potenti.</p>
          
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et tincidunt quam. Proin auctor nulla sed turpis feugiat, id congue quam tincidunt. Sed sit amet justo sit amet urna ullamcorper fringilla. Sed pulvinar mi quis eros 
              suscipit, sed efficitur velit accumsan. Fusce non risus non leo pretium vulputate eget vel ipsum. Etiam efficitur odio sit amet faucibus semper. Suspendisse potenti.</p>
        </div>
    </div>
    <label>
      <input type="checkbox" name="color">
        I have read and agree to the terms and conditions</label>
    </label>
    
  </form>

{% endblock %}