{% extends 'base.html' %} {% block content %}
<html lang="en">
<h1>Enter Metadata</h1>
<p>
  Please fill out the required fields signaled by an asterisk before continuing.
</p>

<form action="/submit" method="post">
  <div style="float: left; margin-right: 20px">
    <label for="author" required>
      *Author(s) (<a href="https://info.arxiv.org/help/prep.html#author" style="color: blue"><u>Review Author Requirements</u></a>)
    </label>
    <br><p class="supporting"><i>Author names. First names first; do not use et al.; separate with commas or 'and'</i></p>
    <input
      class="metadata"
      type="text"
      id="author"
      name="author"
      placeholder="Author names. First names first; do not use et al.; separate with commas or 'and'"
    />
  </div>
  <div style="float: left; margin-right: 20px">
    <label for="abstract" required>
      *Abstract (<a href="https://info.arxiv.org/help/prep.html#abstracts" style="color: blue"><u>Review Abstract Statement</u></a>)
    </label>
    <br><p class="supporting"><i>Please type your abstract here</i></p>
    <input
      class="metadata"
      type="text"
      id="abstract"
      name="abstract"
      placeholder="Please type your abstract here"
    />
  </div>
  <div style="float: left; margin-right: 20px">
    <label for="comment">
      Comments (<a href="https://info.arxiv.org/help/prep.html#comments" style="color: blue"><u>Review Comment Help</u></a>)
    </label>
    <br><p class="supporting"><i>Optional. Please type your comments here (e.g.: 10 pages, 5 figures, conference or other essential info.)</i></p>
    <input
      class="metadata"
      type="text"
      id="comment"
      name="comment"
      placeholder="Optional. Please type your comments here (e.g.: 10 pages, 5 figures, conference or other essential info.)"
    />
  </div>
  <div style="float: left; margin-right: 20px">
    <label for="number"> 
      Report number (<a href = "https://info.arxiv.org/help/prep.html#report" style="color: blue"><u>Review report number help</u></a>)
    </label>
    <br><p class="supporting"><i>Optional. Please type your local report number, otherwise leave blank.</i></p>
    <input
      class="metadata"
      type="text"
      id="report-number"
      name="report-number"
      placeholder="Optional. Please type your local report number, otherwise leave blank."
    />
  </div>
  <div style="float: left; margin-right: 20px">
    <label for="number"> 
      Journal Reference (<a href = "https://info.arxiv.org/help/prep.html#journal" style="color: blue"><u>Review reference help</u></a>)
    </label>
    <br><p class="supporting"><i>Optional. Please type your journal reference. Full biblio info; only if already published, otherwise leave blank.</i></p>
    <input
      class="metadata"
      type="text"
      id="journal-reference"
      name="journal-reference"
      placeholder="Optional. Please type your journal reference. Full biblio info; only if already published, otherwise leave blank."
    />
  </div>
  <div style="float: left; margin-right: 20px">
    <label for="number"> 
      DOI (<a href = "https://info.arxiv.org/help/prep.html#doi" style="color: blue"><u>Review DOI help</u></a>)
    </label>
    <br><p class="supporting"><i>Optional. Please type your DOI if known.</i></p>
    <input
      class="metadata"
      type="text"
      id="DOI"
      name="DOI"
      placeholder="Optional. Please type your DOI if known."
    />
  </div>
  <div style="float: left; margin-right: 20px">
    <label for="number"> 
      ACM Class (<a href = "https://info.arxiv.org/help/prep.html#acm" style="color: blue"><u>Review ACM class help</u></a>)
    </label>
    <br><p class="supporting"><i>Optional. Please delimit multiple entries with semicolons, e.g. F.2.2; I.2.7.</i></p>
    <input
      class="metadata"
      type="text"
      id="ACM-class"
      name="ACM-class"
      placeholder="Optional. Please delimit multiple entries with semicolons, e.g. F.2.2; I.2.7."
    />
  </div>
  <div style="float: left; margin-right: 20px">
    <label for="number"> 
      MSC Class (<a href = "https://info.arxiv.org/help/prep.html#msc" style="color: blue"><u>Review MSC class help</u></a>)
    </label>
    <br><p class="supporting"><i>Optional. Please type your MSC class.</i></p>
    <input
      class="metadata"
      type="text"
      id="MSC-class"
      name="MSC-class"
      placeholder="Optional. Please type your MSC class."
    />
  </div>
</form>
</html>
{% endblock %}
