{% extends 'base.html' %} {% block content %}
<html lang="en">
<h1>Check Data</h1>
<ul>
  <li>
    Review the abstract data displayed on this page. Edit metadata as necessary.
  </li>
  <li>
    Check your primary category selection under "Categories" and resolve any
    conflicts before proceeding. Review arXiv categories on the category
    taxonomy page.
  </li>
  <li>View your article by clicking the button. (required)</li>
  <li>Add secondary categories and crosslists. (optional)</li>
  <li>
    When you are satisfied that your submission is ready, (and after viewing the
    article), click the "Submit Article" button below. (Depending on your
    browser settings, you may need to refresh the page to see the "Submit
    Article" button)
  </li>
  <li>
    You may revise your submission until freeze time. Unsubmitted articles are
    retained for two weeks.
  </li>
  <li>
    <a href="https://info.arxiv.org/help/mathjax.html"><u>MathJax</u></a> will render inline ($-enclosed) TEX in the title,
    abstract and comments fields (e.g. $P(E) = {n \choose k} p^k (1-p)^{ n-k}$
    becomes P(E)=(nk)pk(1−p)n−k). Errors or unknown macros are displayed in red.
    <a href=""><u>Disable MathJax</u></a>.
  </li>
</ul>
<div class="html-preview">
  <div id="preview">Preview</div>
</br>
  <h2>Title</h2>
  <p><b>Authors:</b> Kehui, Manuela </p>
  <p><b>Abstract:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <p><b>Category:</b> Computer Science, Machine Learning</p>
</div>

</html>
{% endblock %}
