{% extends 'base.html' %} {% block content %}
<div class="h1-container">
  <h1>HTML Preview</h1>
  <span class="chip">Beta</span>
</div>

<p>
  arXiv now offers an HTML version of your paper, which may appear different
  from the PDF version but provides <b>greater accessibility</b> to people with
  disabilities.
</p>
<br />
<p>
  We encourage you to
  <b>review the HTML version of your paper and share feedback with us,</b> so we
  can continue to improve and make our community more inclusive. Thank you for
  helping us make academic journals more accessible to everyone.
</p>
<br />
<p>
  You can <a href="">click here</a> to open the HTML page in a different tab.
</p>
<br />
<button class="secondary" type="button">Preview HTML</button>
<div class="checkbox-item">
  <input type="checkbox" id="preview-check" name="preview-check" />
  <label for="preview-check">I certified I previewed my paper</label>
</div>
{% endblock %}
