{% extends 'base.html' %}

<!-- haven't build the modal -->

{% block content %}
<html lang="en">
<div id='page4_header'>
    <h1>Choose a License</h1>
    <p> All articles and source files posted on arXiv.org can be viewed and downloaded by anyone.</p>
    <p>Please select the license you would like to use to make your content available. Your chosen license is irrevocable. For all licenses here, except CC Zero, the original copyright holder retains ownership after posting on arXiv.</p>
    <p>Please review our <a class="openTerms" tabindex="0" style="color:blue;"><u>licensing table</u> <span class="sr-only"></span></a> and/or <a href="https://info.arxiv.org/help/license/index.html"><u>license information</u></a>. It is the author's responsibility to choose the right license.</p>
</div>

<!--the content inside need to be modified-->
<div class="modal micromodal-slide" id="modal-1" aria-hidden="false">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <main class="modal__content" id="modal-1-content">
        <h1 class="modal__title">arXiv Submittal Agreement Terms and Conditions</h1>
        <p><strong>Scroll to read and accept the arXiv Submittal Agreement Terms and Conditions before proceeding.</strong></p>
        <p>Any person submitting a work for deposit in arXiv is required to assent to the following terms and conditions. The Submitter is an original author of the Work, or a proxy pre-approved by arXiv administrators acting on behalf of an original author. If the Submitter is signing and accepting the terms on behalf of another individual, the Submitter represents and warrants that the Submitter has been granted the authority to make the submittal by that individual and that the Submitter's acceptance of the terms binds that other individual.</p>

        <h3>Representations and Warranties</h3>
        <p>The Submitter makes the following representations and warranties:</p>
        <ul>
          <li>The Submitter is an original author of the Work, or a proxy pre-approved by arXiv administrators acting on behalf of an original author.</li>
          <li>If the Work was created by multiple authors, that all of them have consented to the submission of the Work to arXiv.</li>
          <li>The Submitter has the right to include any third-party materials used in the Work.</li>
          <li>The use of any third-party materials is consistent with scholarly and academic standards of proper citation and acknowledgement of sources.</li>
          <li>The Work is not subject to any agreement, license or other claim that could interfere with the rights granted herein.</li>
          <li>The distribution of the Work by arXiv will not violate any rights of any person or entity, including without limitation any rights of copyright, patent, trade secret, privacy, or any other rights, and it contains no defamatory, obscene, or other unlawful matter.</li>
          <li>The Submitter has authority to make the statements, grant the rights, and take the actions described above.</li>
        </ul>

        <h3>Grant of the License to arXiv</h3>
        <p>The Submitter grants to arXiv upon submission of the Work a non-exclusive, perpetual, and royalty-free license to include the Work in the arXiv repository and permit users to access, view, and make other uses of the work in a manner consistent with the services and objectives of arXiv. This License includes without limitation the right for arXiv to reproduce (e.g., upload, backup, archive, preserve, and allow online access), distribute (e.g., allow access), make available, and prepare versions of the Work (e.g., , abstracts, and metadata or text files, formats to support accessibility, machine-readable formats) in analog, digital, or other formats as arXiv may deem appropriate. The rights granted will move with arXiv if arXiv moves to another steward.</p>

        <h3>Waiver of Rights and Indemnification</h3>
        <p>The Submitter waives the following claims on behalf of themselves and all other authors:</p>

        <ul>
          <li>Any claims against arXiv or Cornell University, or any officer, employee, or agent thereof, based upon the use of the Work by arXiv consistent with the License.</li>
          <li>Any claims against arXiv or Cornell University, or any officer, employee, or agent thereof, based upon actions taken by any such party with respect to the Work, including without limitation decisions to include the Work in, or exclude the Work from, the repository; editorial decisions or changes affecting the Work, including the identification of Submitters and their affiliations or titles; the classification or characterization of the Work; the content of any metadata; the availability or lack of availability of the Work to researchers or other users of arXiv, including any decision to include the Work initially or remove or disable access.</li>
          <li>Any rights related to the integrity of the Work under Moral Rights principles.</li>
          <li>Any claims against arXiv or Cornell University, or any officer, employee, or agent thereof based upon any loss of content or disclosure of information provided in connection with a submission.</li>
          <li>The Submitter will indemnify, defend, and hold harmless arXiv, Cornell University and its officers, employees, agents, and other affiliated parties from any loss, damage, or claim arising out of or related to: (a) any breach of any representations or warranties herein; (b) any failure by Submitter to perform any of Submitter’s obligations herein; and (c) any use of the Work as anticipated in the License and terms of submittal.</li>
        </ul>

        <h3>Management of Copyright</h3>
        <p>This grant to arXiv is a non-exclusive license and is not a grant of exclusive rights or a transfer of the copyright. The authors retain their copyright and may enter into publication agreements or other arrangements, so long as they do not conflict with the ability of arXiv to exercise its rights under the License. arXiv has no obligation to protect or enforce any copyright in the Work, and arXiv has no obligation to respond to any permission requests or other inquiries regarding the copyright in or other uses of the Work.</p>

        <p>The Submitter may elect to make the Work available under one of the following Creative Commons licenses that the Submitter shall select at the time of submission: Creative Commons Attribution license (CC BY 4.0); Creative Commons Attribution-ShareAlike license (CC BY-SA 4.0); Creative Commons Attribution-Noncommercial-ShareAlike license (CC BY-NC-SA 4.0); Creative Commons Attribution-Noncommercial-NoDerivatives license (CC BY-NC-ND 4.0); arXiv license (https://arxiv.org/licenses/nonexclusive-distrib/1.0/license.html); or Creative Commons Public Domain Dedication (CC0 1.0).</p>

        <p>If you wish to use a different CC license, then select arXiv's non-exclusive license to distribute in the arXiv submission process and indicate the desired Creative Commons license in the actual article.</p>

        <p>The Creative Commons licenses are explained here: https://creativecommons.org/licenses/.</p>

        <h3>Metadata license</h3>
        <p>To the extent that the Submitter or arXiv has a copyright interest in metadata accompanying the submission, a Creative Commons CC0 1.0 Universal Public Domain Dedication will apply. Metadata includes title, author, abstract, and other information describing the Work.</p>

        <h3>General Provisions</h3>
        <p>This Agreement will be governed by and construed in accordance with the substantive and procedural laws of the State of New York and the applicable federal law of the United States without reference to any conflicts of laws principles. The Submitter agrees that any action, suit, arbitration, or other proceeding arising out of or related to this Agreement must be commenced in the state or federal courts serving Tompkins County, New York. The Submitter hereby consents on behalf of the Submitter and any other authors to the personal jurisdiction of such courts.</p>
      </main>
      <footer class="modal__footer">
        <button id="accept-terms" class="modal__btn disabled" data-micromodal-close="" aria-label="Accept these Terms and return to submission" disabled="">Accept and return to Submission</button>
      </footer>
    </div>
  </div>
</div>

<div>

<label style="text-align:left;">
  <input value="http://creativecommons.org/licenses/by/4.0/" name="license" type="radio">CC BY: Creative Commons Attribution
  <br>
  <input value="http://creativecommons.org/licenses/by-sa/4.0/" name="license" type="radio">CC BY-SA: Creative Commons Attribution-ShareAlike
  <br>
  <input value="http://creativecommons.org/licenses/by-nc-sa/4.0/" name="license" type="radio">CC BY-NC-SA: Creative Commons Attribution-Noncommercial-ShareAlike
  <br>
  <input value="http://creativecommons.org/licenses/by-nc-nd/4.0/" name="license" type="radio">CC BY-NC-ND: Creative Commons Attribution-NonCommercial-NoDerivatives
  <br>
  <input value="http://arxiv.org/licenses/nonexclusive-distrib/1.0/" name="license" type="radio">arXiv.org perpetual, non-exclusive license
  <br>
  <input value="http://creativecommons.org/publicdomain/zero/1.0/" name="license" type="radio">CC Zero: No Rights Reserved
  <br>

  <div hidden=""><input value="" name="license" type="radio">
  None of the above licenses apply<br>
  </div>

  </label>
  <br>
  </div>

<!--
<form>
  <div>
  <label>
      <input type="radio">
      CC BY: Creative Commons Attribution
    </label>
  </div>
  <div>
    <label>
      <input type="radio">
      CC BY-SA: Creative Commons Attribution-ShareAlike
    </label>
  </div>
    <label>
      <input type="radio">
      CC BY-NC-SA: Creative Commons Attribution-Noncommercial-ShareAlike
    </label>
    <label>
      <input type="radio">
      CC BY-NC-ND: Creative Commons Attribution-NonCommercial-NoDerivatives
    </label>
    <label>
      <input type="radio">
      arXiv.org perpetual, non-exclusive license
    </label>
    <label>
      <input type="radio">
      CC Zero: No Rights Reserved
    </label>
    <p>If you need help with the licensing please contact us at a</p>
  </form>-->
</html>
{% endblock %}