{% extends 'base.html' %}

{% block content %}
<div id='page2_header'>
    <h1>Review Contact Information</h1>
    <p> We must have current contact information, especially your email address. Verify your name and institutional affiliation; make sure that we've segmented your first and last names correctly and that any accented characters are properly represented. Return to the registration form to update your information.</p>
</div>

<div id="contact-info">
  <ul>
    <li><strong>First name:</strong> Test</li>
    <li><strong>Last name:</strong> Testing</li>
    <li><strong>Suffix:</strong> Jr.</li>
    <li><strong>Affiliation:</strong> Cornell University</li>
    <li><strong>Email:</strong> tt123@cornell.edu</li>
  </ul> 
</div>

<form>
      <p>
        <a href=https://arxiv.org/user/edit>Update Contact Information</a>
      </p>
      <label>
        <input type="checkbox" name="color">
        I  certify the above information is correct *
      </label>
</form>

{% endblock %}