{% extends 'base.html' %}

{% block content %}
<div id='page1_header'>
    <h1>Welcome to arXiv submission!</h1>
    <p> Note: You may pause in the submission process at any stage and return to your submission from your user page at <a href="https://arxiv.org/user">https://arxiv.org/user</a></p>
    <p>To start your submission please provide the title of your paper and the author(s) name(s).</p>
</div>

<label id="title">
  <strong>*Title</strong>
  </label>: (<a onclick="target='subhelp'" href="https://info.arxiv.org/help/prep.html#title" title="Click for help on Title field">Review title requirements</a>)
  <input type="text" id="input_title" name="title" placeholder="Please provide the title of your page" maxlength="100" required>

  <div id="as_author"><p>
    <input value="0" style="display:none" name="is_author" type="radio">
    <input checked="checked" value="1" name="is_author" type="radio">&nbsp;I am submitting as an author of this article<br>
    <input value="2" name="is_author" type="radio">&nbsp;I am not an author but have obtained pre-authorization from arXiv to submit as
   a <a href="https://info.arxiv.org/help/third_party_submission.html">third-party submitter</a><br>
 </p></div>

{% endblock %}