{% extends 'base.html' %} {% block content %}
<html lang="en">
<h1>Select Category</h1>
<p>
  At arXiv articles get filed into categories. Please review the description of
  the categories. Failure to provide the best-fitting category may delay the
  submission process. Please note that this <b>does not guarantee</b> your
  submission appearing in the selected category.
</p>

<div class="select-category-container"><form>
  <div class="select-category-item">
    <label class="select-label" for="archive-select">*Archive</label>
    <select class="selector" id="archive-select">
      <option value="" disabled selected>Select Archive Category</option>
      <option value="Astrophysics" unselected>Astrophysics</option>
      <option value="Condensed Matter" unselected>Condensed Matter</option>
      <option value="Computer_science" unselected>Computer Science</option>
      <option value="Economics" unselected>Economics</option>
      <option value="Electrical Engineering and System Science" unselected>Electrical Engineering and System Science</option>
      <option value="General Relativity and Quantum Cosmology" unselected>General Relativity and Quantum Cosmology</option>
      <option value="High Energy Physics - Experiment" unselected>High Energy Physics - Experiment</option>
      <option value="High Energy Physics - Lattice" unselected>High Energy Physics - Lattice</option>
      <option value="High Energy Physics - Phenomenology" unselected>High Energy Physics - Phenomenology</option>
      <option value="High Energy Physics - Theory" unselected>High Energy Physics - Theory</option>
      <option value="Mathematics" unselected>Mathematics</option>
      <option value="Mathematical Physics" unselected>Mathematical Physics</option>
      <option value="Nonlinear Sciences" unselected>Nonlinear Sciences</option>
      <option value="Nuclear Experiment" unselected>Nuclear Experiment</option>
      <option value="Nuclear Theory" unselected>Nuclear Theory</option>
      <option value="Physics" unselected>Physics</option>
      <option value="Quantitative Biology" unselected>Quantitative Biology</option>
      <option value="Quantitative Finance" unselected>Quantitative Finance</option>
      <option value="Quantum Physics" unselected>Quantum Physics</option>
      <option value="Statistics" unselected>Statistics</option>
    </select>
  </div>

  <div class="select-category-item">
    <label class="select-label" for="primary-select">*Primary</label>
    <select class="selector" id="primary-select">
      <option value="" disabled selected>Select Primary Category</option>
      <option value="machine learning" unselected>Machine Learning</option>
    </select>
  </div>

  <div class="select-category-item">
    <label class="select-label" for="secondary-select">Secondary</label>
    <select class="selector" id="secondary-select">
      <option value="" disabled selected>Select Secondary Category (Optional)</option>
      <option value="secondary_optional" unselected>Secondary</option>
    </select>
  </div>
</form>
</div>

<p>
  You can learn more about categories below or visit the
  <a href=""><u>category descriptions</u></a>.
</p>

<div class="categories">
  <button class="accordion">Computer Science</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Economics</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Electrical Engineering and Systems Science</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Mathematics</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Physics</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Quantitative Biology</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Quantitative Finance</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>

  <button class="accordion">Statistics</button>
  <div class="panel">
    <p>Lorem ipsum...</p>
  </div>
</div>

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      /* Toggle between adding and removing the "active" class,
    to highlight the button that controls the panel */
      this.classList.toggle("accordion-active");

      /* Toggle between hiding and showing the active panel */
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
</html>
{% endblock %}
